
@{
    ViewBag.Title = "Index";
}

    <div class="card">
        <h1 class="tard-header font-weight-bold text-uppercase py-4  text-center">Sistema de Hospital</h1>
    </div>
<img src="~/img/fotohospital.jpg" width="1100" height="600" style="margin-right: 100px"/>

